<head>
    <title>Vue CRUD Course</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Local CSS file for styling the application-->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue.js 2 development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="vue_app">
        <div class="grid-container">
            <app-header class="header-title"></app-header>

            <nav class="navigation-links">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </nav>

            <div class="data-content">
                <h2>List of Users:</h2>
                <br>
                <div v-if="!displayUsers">
                    <h4>Users are not being displayed.<h4>
                </div>
                <div v-else>
                  <ul v-for="(user, index) in users">
                      <li v-bind:style="{ color: usersTextColor[index] }">{{ index }}: {{ user }}</li>
                  </ul>
                </div>
                <br>
                <h4>{{ numberOfUsersText }}</h4>
                <div class="add-user-input">
                    <input type="text" v-model="newUser" placeholder="Enter new user..."></input>
                    <input type="submit" value="Add User" v-on:click="addNewUser(newUser)"></input>
                </div>
            </div>

            <div class="search-content">
                <h1 v-bind:class="searchTextClass">Search Users:</h1>
                <br>
                <label for="searchInput">Search for:</label>
                <input v-model="searchName" id="searchInput" type="text"></input>
                <br>
                <ul v-for="user in searchResults">
                    <li>{{ user }}</li>
                </ul>
            </div>

            <app-footer class="footer"></app-footer>
        </div>
    </div>

    <!-- Vue Code -->
    <script src='app.vue' type="text/javascript"></script>
</body>